* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

a.active {
  background-color: #e7f5ff;
  color: #1c7ed6;
}

input.error {
  border: 1px solid #ff0000 !important;
}

.ox-scroll {
  overflow: auto;
  min-height: 80%;
  max-width: calc(100vw - 350px);
  max-height: calc(95vh - 110px);
  position: relative;
}

.ox-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.ox-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.btn-drive-link {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow: none;
  padding: 5px;
  background: transparent;
}

.ox-scroll .row {
  display: flex;
  width: max-content;
  position: relative;
}

.ox-scroll .now-edit.row>input,
.ox-scroll .now-edit.row>select {
  animation: now-edit-input 1500ms linear forwards;
}

@keyframes now-edit-input {
  0% {
    opacity: 0;
    border-top: #1c7ed6 1px solid;
    border-bottom: .1px solid #1c7ed6;
    background-color: #1c7fd649;
  }

  100% {
    opacity: 1;
    border-top: 1px solid #ccc;
    background: inherit;

  }
}

.input-multi-select {
  border-top: 1px solid #ccc;
  border-bottom: .1px solid #ccc;
  height: 100%;
  padding: 15px 8px;
}

.ox-scroll .row select,
.ox-scroll .row>input {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: .1px solid #ccc;
  border-radius: 0px;
  padding: 15px 8px;
  outline: none;
  width: 110px;
}

.ox-scroll .row>input[type="email"] {
  color: #1c7ed6;
}

.ox-scroll .row>input[type="tel"] {
  color: rgb(16, 152, 173);
}

.ox-scroll .row>input[name="address"] {
  color: #e91e63;
}




.ox-scroll .row .multiples-select {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.mantine-Select-wrapper input {
  width: inherit !important;
  height: inherit !important;
  margin: 0 !important;
}

.ox-scroll .row input.fc {
  width: max-content;
}

.ox-scroll .row input.disabled {
  background-color: #f5f5f5;
  color: #000;
  padding: 15px 8px;
}

.ox-scroll .row button[type="submit"],
.ox-scroll .row button.delete,
.adder {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  background-color: #196c08;
  border: 1px solid #fff;
  color: #ffffff;
  transition: all 150ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.mantine-Header-root {
  padding: 0px;
}

.ox-scroll .row button.delete {
  background-color: transparent;
  border-top: 1px solid #ccc;
  border-bottom: 0.1px solid #ccc;
  border-radius: 0;
}

.ox-scroll .row button.delete svg {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
  width: 30px;
  height: 30px;
}

.ox-scroll .row button.delete svg:active {
  transform: scale(0.98) translateY(2px);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 10px;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_logo img {
  width: 50px;
  height: 50px;
}

.notification_icon {
  background: transparent;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notification_icon:hover {
  background: transparent;
}

.mantine-Button-filled {
  padding: 0;
}

.notification_flex {
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.header_notification {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_settings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_logout {
  padding: 10px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
}

.popup-notification:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}